body{
    background-image: linear-gradient(lightblue,lightpink,white);
    background-attachment: fixed;
    margin: 0px;
}

.headerList{
    display: flex;
    
}

.headerListbox{
    display: flex;
    flex-wrap: wrap;
    background-color: darkblue;
}
.headerHeading{
    margin-left: 150px;
    margin-right: 220px;
    font-size: xx-large;
    color: white;
    text-decoration: none;
    font-family: cursive;
}